.sidepanel{ float: right   } 
.up{margin-top: 10px;}

.nav-pills{
    color: yellow;
    size: 20px;
}
.nav-item {

    padding-top: 20px;
    padding-left: 20px;
    
    font-size: 22px;
    
    }
    .nav-item2 {

        padding-top: 90px;
        padding-left: 80x;
        
        font-size: 28px;
        
        }
        